{% extends "default.html" %}
{% from "content/post.html" import render_post %}
{% from "content/topic.html" import render_topic %}
{% from "content/post_utils.html" import render_loading %}

{% block title %}+{{ topic.name }} - Anonimce{% endblock %}


{% block body %}

<section class="hero top-hero">
  <div class="hero-body">
    <p class="title" style="margin-bottom: 0rem !important;">
      <img src="{{ url_for('static', filename='images/favicon.png') }}" style="height: 3rem">

      <span class="topic-name">{{ topic.name|upper }}</span>
    </p>
    {% if (topic.is_moderator_topic and current_user.has_permission(permissions.POST_IN_MODERATOR_TOPIC)) or not topic.is_moderator_topic %}
    
    <br>
    <p class="subtitle">
      <a href="ekle" class="button submit-button">Paylaşım Yap</a>
    </p>
    {% endif %}
  </div>
</section>

<br>

{{ render_loading() }}
<div id="dump-posts" data-topic-name="{{ topic.name }}" style="display: none;"></div>

<div class="prerendered-content">{{ prerender|safe }}</div>
{% endblock %}