{% assets filters="cssmin", output="gen/anonimce.css",
          "css/anonimce.css", "css/bulma-dark.css", "css/bulma-tooltip-1.0.2.min.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}{{ version_hash }}">
{% endassets %}

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-prefersdark.css') }}">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">