{% extends "default.html" %}
{% from "permissions.html" import render_permissions %}
{% from "content/post_utils.html" import render_loading %}

{% block body %}

{{ render_permissions(current_user) }}
<script>
    (() => {
        localStorage.setItem("loginData", `{{ login_data|safe }}`);
        localStorage.setItem("permissions", JSON.stringify(this.permissions));
    })();
</script>

<section class="hero top-hero">
  <div class="hero-body">
    <p class="title">
        Admin Paneli
    </p>
    <br>
    <p class="subtitle">Hoş geldin! Yapabileceğin bazı şeyler:</p>
    {% if current_user.has_permission(permissions.SEE_LANDING_PAGE) %}
    <button onclick="window.location.href='ispiyonlar'" class="button submit-button">İspiyonları gör</button>
    {% endif %}
    {% if current_user.has_permission(permissions.REMOVE_POSTS) %}
    <button onclick="window.location.href='silinenler'" class="button submit-button">Silinen Paylaşımları Gör</button>
    {% endif %}
    {% if current_user.has_permission(permissions.ADD_MOD) %}
    <button onclick="window.location.href='mod-ekle'" class="button submit-button">Moderatör Ekle</button>
    {% endif %}
  </div>
</section>

{% endblock %}